$main-bg: #fff;
$main-color: rgba(230,77,61,255);
$active-color: rgba(230,77,61,0.1);
$hover-color: rgba(97, 94, 100, 0.1);
$success-color: #26aa34;

$box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
$box-shadow-second: 0 1px 5px 0 rgba(0,0,0,0.5);

$border: 1px solid rgba(20, 20, 20, 0.1);

$txt-main-color: #000;
$txt-color-second: #909090;

$mobile-width: 767px;
$tablet-width: 991px;
